[submodule "Android-PullToRefresh"]
	path = Android-PullToRefresh
	url = https://github.com/chrisbanes/Android-PullToRefresh.git
[submodule "Android-ViewPagerIndicator"]
	path = Android-ViewPagerIndicator
	url = https://github.com/JakeWharton/Android-ViewPagerIndicator.git
[submodule "SlidingMenu"]
	path = SlidingMenu
	url = https://github.com/jfeinstein10/SlidingMenu.git
